[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
jupyter = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"

[packages]
pyserial = "*"
pandas = "*"

[requires]
python_version = "3.6"
