[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
jupyter = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
matplotlib = "*"

[packages]
pyserial = "*"
pandas = "*"

[requires]
python_version = "3.6"

[scripts]
start_bt_receiver = "python python/src/main.py"
